html, body {
    height: 100%;
    margin: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
td {
    text-align: center;
    font-size: 2em;
    width: 50%; 
}

.box-left {
    background-color: #FF6347; 
}
.box-right {
    background-color: #548B54; 
}